# Copier vers config.env et ajuster les mots de passe
ME_CONFIG_MONGODB_URL=mongodb://127.0.0.1:27017/
ME_CONFIG_MONGODB_ENABLE_ADMIN=true
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=supersecret
ME_CONFIG_SITE_BASEURL=/
ME_CONFIG_OPTIONS_EDITOR=true
